thin-scroll::-webkit-scrollbar {
      height: 3px; 
    }
    .thin-scroll::-webkit-scrollbar-thumb {
      background: rgba(237, 21, 21, 0.3);
      border-radius: 2px;
    }
    .thin-scroll::-webkit-scrollbar-track {
      background: transparent;
    }

 
    .thin-scroll {
      scrollbar-width: thin;
      scrollbar-color: rgba(54, 48, 56, 0.3) transparent;
    }